<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js?cdv=40" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css?cdv=40" type="text/css" rel="stylesheet"/>
</head>
<body>
<button><a href = "\">На главную</a></button>
<h1>Результаты выполненных вычислений:</h1>
<table>
  <tr>
    <td>Рейтинг подсчитаный на основе первого варианта коэффициентов (R1)  :</td>
    <td th:text ="${R1}"></td>
  </tr>
  <tr>
    <td>Ожидаемое число ошибок (B1):</td>
    <td th:text ="${B1}" ></td>
  </tr>
  <tr>
    <td>Количество допущеных ошибок в программе поделеный на коэффициент(sumB_k_c1):</td>
    <td th:text ="${sumB_k_c1}" ></td>
  </tr>
  <tr>
    <td>Рейтинг подсчитаный на основе второго варианта коэффициентов (R2):</td>
    <td th:text ="${R2}"></td>
  </tr>

  <tr>
    <td>Ожидаемое число ошибок(B2):</td>
    <td th:text ="${B2}" ></td>
  </tr>
  <tr>
    <td>Количество допущеных ошибок в программе поделеный на коэффициент(sumB_k_c2):</td>
    <td th:text ="${sumB_k_c2}" ></td>
  </tr>
  <tr>
    <td>Рейтинг подсчитаный на основе третьего варианта коэффициентов (R3):</td>
    <td th:text ="${R3}" ></td>
  </tr>
  <tr>
    <td>Ожидаемое число ошибок (B3):</td>
    <td th:text ="${B3}" ></td>
  </tr>
  <tr>
    <td>Количество допущеных ошибок в программе поделеный на коэффициент(sumB_k_c3):</td>
    <td th:text ="${sumB_k_c3}" ></td>
  </tr>

</table>

</body>